:root {
    --background-color: #e2e8f0;
    --accent-color: #1992d4;
    --accent-color2: #f0b429;
    --text-color-primary: #000000;
    --text-color-secondary: #b1b1b1;
    --text-color-contrast:  #ffffff;
}

body {
    background-color: var(--background-color);
    color: var(--text-color-primary);
    font-size: 24px;
    margin: 0;
}

#container {
    display: flex;
}

.sidebar {
    width: min(200px, 10vw);
    background-color: var(--accent-color);
    color: var(--text-color-contrast);
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 40px;
}